.back{
	width: 100%; 
	height:100%;
	background-color: white;}

.back2{
	width: 800px; 
	height: 800px;
	background-color: black;
	position: absolute; 
	left: 25%;
	}


.red{height: 70%; 
	width: 70%; 
	position: absolute;
	background-color: red;
	right:10px;
	top: 10px;
	}

.w1{ height: 30%; 
	width: 25%; 
	position: absolute;
	background-color: white; 
	left: 10px;
	top: 10px;}

.w2{height: 35%; 
	width: 25%; 
	position: absolute;
	background-color: white; 
	left: 10px;
	top: 290px;}	

.Y {height: 25%; 
	width: 25%; 
	position: absolute;
	background-color: blue; 
	left: 10px;
	top: 590px;}	

.w3{height: 25%; 
	width: 56%; 
	position: absolute;
	background-color: white; 
	right: 120px;
	top: 590px;}

.w4{height: 11%; 
	width: 11%; 
	position: absolute;
	background-color: white; 
	right: 10px;
	top: 590px;}


.Y2 {height: 11%; 
	width: 11%; 
	position: absolute;
	background-color: yellow; 
	right: 10px;
	top: 700px;}			